[user]
	email = john.doe@users.noreply.github.com
	name = Brendon
[pull]
        rebase = true
[fetch]
        prune = true
[diff]
        colorMoved = 
[init]
        defaultBranch = master
[core]
	trustctime = false
	editor = ~/local/bin/nvim
[include]
	path = ~/.gitaliases
[rebase]
	committerDateIsAuthorDate = true

